*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(des.png);
    padding: 0px;
}

.navbar{
    display: flex;
    width: 100%;
    height: 9vh;
    background-color: lightslategrey;
}
.wrapped{
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 50px;
    background-color: #222;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}
.brand{
    display:flex;
    flex-direction: row;
    font-size: 35px;
    padding: 5px;
    font-weight: bold;
    color:#ff8ba7;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation >li{
    list-style: none;
    padding: 16px;
}
.navigation >li >a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.navigation >li>a:hover{
    color: #ff8ba7;
    -webkit-transition: all.3s ease-in-out;
    -moz-transition: all.3s ease-in-out;
    -ms-transition: all.3s ease-in-out;
    -o-transition: all.3s ease-in-out;
    transition: all.3s ease-in-out;
}

.active{
    background-color: #ff8ba7;
    color: white;
    padding: 15px;
}
.active:hover{
    color: white !important;
}
.about{
    text-align: center;
    width: 25%;
    margin: 0 auto;
    padding: 20px 0px 10px 0px;
}
.about>img{
    height:50%;
    width:50%;
    padding: 20px 0px 0px 0px;
}
.button{
    padding: 0px 0px 20px 0px;
    text-align: center;
}
.button>a{
    padding: 10px;
    margin: 2px;
    color: #222;
    background-color: #ff8ba7;
    border-radius: 10px;
    text-decoration: none;
}

.button>a:hover{
    color:#FFFFFF;
    background-color: tomato;
}
#contact{
    background-color: #faeee7;
    padding: 20px 0px 20px 0px;
}
.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.footer-section{
    width: 25%;
    margin: 0 auto;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
h3{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color:#33272a;
    width: 100%;
    padding-bottom: none;
    line-height: 50px;
}
.footer-section>p{
    color:#594a4e;
    text-align: left;
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ff8ba7;
    height: auto;
    width: 100vw;
    color: #fff;
}
.bottom{
    background-color: #ff8ba7;
    width: 100vw;
    padding: 6px 0;
    text-align: center;
}
.bottom>p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.bottom span{
    color:#FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}